.container-fluid {
    font-family: Monospace;
    background-color: #111;
    color: #111;
    margin-bottom: 10px;
    overflow: hidden;

} 
/* body, html, .container-fluid {
  height: 30%;
} */
body{background: #111 !important;}
.row{
  margin-left: 65px;
  
}
#info {
    color: #fff;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 5;
    display: block;
}

.dg {
    z-index: 10 !important;
}

#info a, .button {
    color: #f00;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer
}

#inset {
    /* width: 150px;
    height: 150px; */
    background-color: transparent; /* or transparent; will show through only if renderer alpha: true */
    border: none; /* or none; */
    margin: 0;
    padding: 0px;
    z-index: 100;
    bottom: 0px;
    position: absolute;
}

#container1 {
  background-color: transparent; /* or transparent; will show through only if renderer alpha: true */
  border: none;
  margin: 0;
  padding: 0px;
  z-index: 100;
  float: left;
  height:75vh;
  width: 40vw;
}

#containerX {
    background-color: transparent; /* or transparent; will show through only if renderer alpha: true */
    border: none;
    margin: 0;
    padding: 0px;
    height: 25vh;
    width: 35vw;
}

#containerY {
    background-color: transparent; /* or transparent; will show through only if renderer alpha: true */
    border: none;
    margin: 0;
    padding: 0px;
    
}

#containerZ {
    background-color: transparent; /* or transparent; will show through only if renderer alpha: true */
    border: none;
    margin: 0;
    padding: 0px;
}

input[type=range] {
  -webkit-appearance: none;
  /* margin: 5px ; */
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  /* width: 15vw; */
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border-radius: 25px;
  border: 0px solid #000101;
}
.Slider::-webkit-slider-runnable-track {
  background: red;
}
.Slider1::-webkit-slider-runnable-track {
  background: green;
}
.Slider2::-webkit-slider-runnable-track {
  background: blue;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #808080;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type=range]::-moz-range-track {
  /* width: 15vw; */
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border-radius: 25px;
  border: 0px solid #000101;
}
.Slider::-moz-range-track {
  background: red;
}
.Slider1::-moz-range-track {
  background: green;
}
.Slider2::-moz-range-track {
  background: blue;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #808080;
  cursor: pointer;
}
input[type=range]::-ms-track {
  /* width: 15vw; */
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 10px 0;
  color: transparent;
}
.Slider::-ms-fill-lower {
  background: red;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.Slider1::-ms-fill-lower {
  background: green;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.Slider2::-ms-fill-lower {
  background: blue;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.Slider::-ms-fill-upper {
  background: red;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.Slider1::-ms-fill-upper {
  background: green;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.Slider2::-ms-fill-upper {
  background: blue;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #808080;
  cursor: pointer;
  margin-top: 0px;
}
input[type=range]:hover {
  opacity: 1;
}
body {
  padding-top: 40px;
}
/* #renderer{
  width:50vw;
  height:75vh;
} */