body {
    font-family: Monospace;
    background-color: #000;
    color: #fff;
    margin: 0px;
    overflow: hidden;
}
#info {
    color: #fff;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 5;
    display:block;
}
.dg {
    z-index: 10 !important;
}

#info a, .button { color: #f00; font-weight: bold; text-decoration: underline; cursor: pointer }

#inset  {
    width: 150px;
    height: 150px;
    background-color: transparent; /* or transparent; will show through only if renderer alpha: true */
    border: none; /* or none; */
    margin: 0;
    padding: 0px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 100;
}