body {
    font-family: Monospace;
    background-color: #111;
    color: #000;
    margin: 0px;
    overflow: hidden;
}

#info {
    color: #fff;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 5;
    display: block;
}

.dg {
    z-index: 10 !important;
}

#info a, .button {
    color: #f00;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer
}

#inset {
    width: 150px;
    height: 150px;
    background-color: transparent; /* or transparent; will show through only if renderer alpha: true */
    border: none; /* or none; */
    margin: 0;
    padding: 0px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 100;
}

#container {
    width: 600px;
    height: 600px;
    background-color: transparent; /* or transparent; will show through only if renderer alpha: true */
    border: none;
    top: 50px;
    left : 50px;
    margin: 0;
    padding: 0px;
    position: absolute;
    z-index: 800;
}

#containerX {
    width: 250px;
    height: 250px;
    background-color: transparent; /* or transparent; will show through only if renderer alpha: true */
    border: none;
    top: 20px;
    right : 200px;
    margin: 0;
    padding: 0px;
    position: absolute;
    z-index: 10;
}

#containerY {
    width: 250px;
    height: 250px;
    background-color: transparent; /* or transparent; will show through only if renderer alpha: true */
    border: none;
    top: 250px;
    right : 200px;
    margin: 0;
    padding: 0px;
    position: absolute;
    z-index: 100;
}

#containerZ {
    width: 250px;
    height: 250px;
    background-color: transparent; /* or transparent; will show through only if renderer alpha: true */
    border: none;
    top: 500px;
    right : 200px;
    margin: 0;
    padding: 0px;
    position: absolute;
    z-index: 100;
}
